/* Global Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', 'Poppins', monospace;
  background-color: #282C33;
  color: #fff;
  scroll-behavior: smooth;
}

.app {
  width: 100%;
}
